torch==1.4.0
pysptk
matplotlib
librosa==0.8.0
tqdm
pandas
numba==0.48.0
numpy==1.16.4
h5py
requests
scipy==1.3
sympy
PyYAML
tensorboardX
pillow
pyloudnorm
pytorch_lightning==0.9.0
torchvision==0.5.0
setuptools>=41.0.0
miditoolkit==0.1.7
uuid
g2p_en
resemblyzer
webrtcvad
tensorboard==1.15.0
scikit-learn==0.21.3
scikit-image==0.16.2
pypinyin==0.39.0
textgrid
horology
seaborn
statsmodels
jiwer
pycwt
PyWavelets
openpyxl
music21==5.7.2
pypianoroll==0.5.3
praat-parselmouth
jieba
g2pM
opencv-python==4.2.0.32